.banner {
	background-image: url(../../images/bijoux.jpg);
	background-position: center;
	background-size: cover;
	color: whitesmoke;
	padding: 150px 0px;
	color: deeppink;
	background-color: #c4b2b2;
}

.banner h1 {
	font-size: 54px;
	color: #80ada1;
}

.banner a {
	font-size: 25px;
	margin-bottom: 40px;
	color: whitesmoke;
	font-family: Impact, fantasySnell Roundhand, cursive;	
	color: #eae7c7;
	margin-left: 0%;
	font-style: oblique;
}

.banner a {
  background: #80ada1;
  padding: 20px;
  border-radius: 75px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.4);
  width: 700px;
  margin: 7px auto;
}

